{{!-- SECTION SMART START --}}
<section class="smart">
  <div class="smart__wrapper">
    <div class="smart__arrowup">
      <button>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>        
      </button>
      <span>ВВЕРХ</span>
    </div>
    <div class="smart__burgermenu">
      <div class="smart__burgerline1"></div>
      <div class="smart__burgerline2"></div>
      <div class="smart__burgerline3"></div>
    </div>
    <div class="smart__menu">
      <div class="smart__logoblock">
        <a href="/"><img src="/pict/logo.png" alt="logo"></a>
        <span>Bitmin</span>
      </div>
      <div class="smart__menublock">
        <ul class="smart__list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">RoadMap</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="smart__menublockfloat">
        <ul class="smart__listfloat">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">RoadMap</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="smart__regblock">
        <button class="smart__btnlogin">Log In</button>
        <button class="smart__btnregistr"><i class="fa fa-user-circle" aria-hidden="true"></i>Register</button>
      </div>     
    </div>
    
    <div class="smart__textdescblock">
      <span>Smart cryptocurrency</span>
      <span>for gaming &amp; stock trading</span>
    </div>

    <div class="smart__watch">
      <span>WHY CHOOSE BITMIN?</span>      
      <button></button>
      <div class="smart__wnow">
        <span>WATCH NOW !!!</span>
      </div>      
    </div>

    <div class="smart__phone">
      <div class="smart__tel">
        <img src="/pict/tel.png" alt="telephone">
      </div>
      <div class="smart__bitcoin">
        <img src="/pict/bitcoin.png" alt="bitcoin">
      </div>
      <div class="smart__ethereum">
        <img src="/pict/ethereum.png" alt="ethereum">
      </div>
      
    </div>
  
  </div>  
</section>
{{!-- SECTION SMART END --}}

{{!-- ----------------- --}}

{{!-- SECTION CCP START --}}
<section class="ccp">
  <div class="ccp__wrapper">
    
    <div class="ccp__hdrtext">
      <h2>Cryptocurrency Price Capitalizations</h2>
    </div>    
    <div class="ccp__textdescr">
      <span>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus, ac facilisis in, egestas eget quam praesent commodo cursus magna.</span>
    </div>    
    
    <div class="ccp__cardsblock">
      
      <div class="ccp__cardsbitcoin">
        <div class="ccp__cardsbitcoinlogo">
          <img src="/pict/bitcoinlogo.png" alt="bitcoin">
        </div>
        <div class="ccp__cardsbitcoininfo">
          <div class="ccp__cardsbitcoinprice">
            <span>Bitcoin</span>
            <span><sub>$</sub> 11,354.00</span>
          </div>
          <div class="ccp__cardsbitcoingain">
            <span>BTC/USD</span>
            <span>-1.04%</span>
          </div>
          <div class="ccp__cardsbitcoingrapf">
            <canvas id="bitcoinchart"></canvas>                                    {{!-- <canvas id="bitcoinchart"></canvas> --}}
          </div>
          <div class="ccp__cardsbitcointimestapm">
            <button class="crdbithour">Hour</button>
            <button class="crdbitday">Day</button>
            <button class="crdbitweek">Week</button>
            <button class="crdbitmonth">Month</button>            
          </div>
        </div>
        <div class="ccp__cardsbitcoinfooter">
          <div class="ccp__cardsbitcoinvolume">
            <span>24h Volume</span>
            <span>$ 7.02B</span>
          </div>
        </div>
      </div>


      <div class="ccp__cardsethereum">
        <div class="ccp__cardsethereumlogo">
          <img src="/pict/etheriumlogo.png" alt="ethereum">
        </div>
        <div class="ccp__cardsethereuminfo">
          <div class="ccp__cardsethereumprice">
            <span>Ethereum</span>
            <span><sub>$</sub> 928.99</span>
          </div>
          <div class="ccp__cardsethereumgain">
            <span>ETH/USD</span>
            <span>+0.98%</span>
          </div>
          <div class="ccp__cardsethereumgrapf">
            <canvas id="ethereumchart"></canvas>                                     {{!-- <canvas id="ethereumchart"></canvas> --}}
          </div>
          <div class="ccp__cardsethereumtimestapm">
            <button class="crdethhour">Hour</button>
            <button class="crdethday">Day</button>
            <button class="crdethweek">Week</button>
            <button class="crdethmonth">Month</button>            
          </div>
        </div>
        <div class="ccp__cardsethereumfooter">
          <div class="ccp__cardsethereumvolume">
            <span>24h Volume</span>
            <span>$ 11.12B</span>
          </div>
        </div>
      </div>


      <div class="ccp__cardsripple">
        <div class="ccp__cardsripplelogo">
          <img src="/pict/ripplelogo.png" alt="ripple">
        </div>
        <div class="ccp__cardsrippleinfo">
          <div class="ccp__cardsrippleprice">
            <span>Ripple</span>
            <span><sub>$</sub> 1.37</span>
          </div>
          <div class="ccp__cardsripplegain">
            <span>XRP/USD</span>
            <span>+18.37%</span>
          </div>
          <div class="ccp__cardsripplegrapf">
            <canvas id="ripplechart"></canvas>                                            {{!-- <canvas id="ripplechart"></canvas> --}}
          </div>
          <div class="ccp__cardsrippletimestapm">
            <button class="crdripphour">Hour</button>
            <button class="crdrippday">Day</button>
            <button class="crdrippweek">Week</button>
            <button>Month</button>            
          </div>
        </div>
        <div class="ccp__cardsripplefooter">
          <div class="ccp__cardsripplevolume">
            <span>24h Volume</span>
            <span>$ 981.19M</span>
          </div>
        </div>
      </div>

      <div class="ccp__cardscardano">
        <div class="ccp__cardscardanologo">
          <img src="/pict/cardanologo.png" alt="cardano">
        </div>
        <div class="ccp__cardscardanoinfo">
          <div class="ccp__cardscardanoprice">
            <span>Cardano</span>
            <span><sub>$</sub> 0.985964</span>
          </div>
          <div class="ccp__cardscardanogain">
            <span>ADA/USD</span>
            <span>+9.38%</span>
          </div>
          <div class="ccp__cardscardanograpf">
            <canvas id="cardanochart"></canvas>                                           {{!-- <canvas id="cardanochart"></canvas> --}}
          </div>
          <div class="ccp__cardscardanotimestapm">
            <button>Hour</button>
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>            
          </div>
        </div>
        <div class="ccp__cardscardanofooter">
          <div class="ccp__cardscardanovolume">
            <span>24h Volume</span>
            <span>$ 8.91B</span>
          </div>
        </div>
      </div>
     
    </div>

    <div class="ccp__switchslide">
      <input type="radio" name="swtch">
      <input type="radio" name="swtch">
      <input type="radio" name="swtch">
      <input type="radio" name="swtch">
    </div>

  </div>
</section>
{{!-- SECTION CCP END --}}

{{!-- ----------------- --}}

{{!-- SECTION PROMO START --}}
<section class="promoann">
  <div class="promoann__wrapper">
    
    <div class="promoann__hdrpromo">
      <h3>Promotions Annoucement</h3>
    </div>
    <div class="promoann__descpromo">
      <span>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus, ac facilisis in, egestas eget quam praesent commodo cursus magna.</span>
    </div>
    
        
    <div class="promoann__movies">
      
      <div class="promoann__bch">
        <div class="promoann__bchvideo">
          <button><i class="fa fa-play" aria-hidden="true"></i></button>
          {{!-- <iframe width="300" height="300" src="https://www.youtube.com/embed/UoKlKx-3FcA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
        </div>
        <div class="promoann__bchdesc">
          <div class="promoann__bchdescone">
            <span>BCH Trading Pairs Open On</span>
            <span>01:20</span>
          </div>
          <div class="promoann__bchdesctwo">
            <span>BitMin With Big Promotions</span>
          </div>
        </div>
      </div>

      <div class="promoann__bitclave">
        <div class="promoann__bitclavevideo">
          <button><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
        <div class="promoann__bitclavedesc">
          <div class="promoann__bitclavedescone">
            <span>Bitclave Gets Listed One</span>
            <span>04:34</span>
          </div>
          <div class="promoann__bitclavedesctwo">
            <span>BitMin With Promotions For User</span>
          </div>
        </div>
      </div>

      <div class="promoann__annoucement">
        <div class="promoann__annoucementvideo">
          <button><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
        <div class="promoann__annoucementdesc">
          <div class="promoann__annoucementdescone">
            <span>Annoucement Regarding</span>
            <span>02:40</span>
          </div>
          <div class="promoann__annoucementdesctwo">
            <span>Vote To List round 3</span>
          </div>
        </div>
      </div>

      <div class="promoann__selfkey">
        <div class="promoann__selfkeyvideo">
          <button><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
        <div class="promoann__selfkeydesc">
          <div class="promoann__selfkeydescone">
            <span>Selfkey Will Get Listed On Bitmin</span>            
          </div>
          <div class="promoann__selfkeydesctwo">
            <span>My Selfkey</span>
          </div>
        </div>
      </div>

      <div class="promoann__canya">
        <div class="promoann__canyavideo">
          <button><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
        <div class="promoann__canyadesc">
          <div class="promoann__canyadescone">
            <span>Canya is Getting Listed One</span>            
          </div>
          <div class="promoann__canyadesctwo">
            <span>Bitmin With A Special Promotion</span>
          </div>
        </div>
      </div>

      <div class="promoann__qlink">
        <div class="promoann__qlinkvideo">
          <button><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
        <div class="promoann__qlinkdesc">
          <div class="promoann__qlinkdescone">
            <span>Qlink On Bitmin: Trading Stars On</span>            
          </div>
          <div class="promoann__qlinkdesctwo">
            <span>January 29 2018</span>
          </div>
        </div>
      </div>

    </div>
     

    <div class="promoann__viewall">
      <button>View all announcement</button>
    </div>


  </div>
</section>
{{!-- SECTION PROMO END --}}