{{!-- SECTION SMART START --}}
<section class="smart">
  <div class="smart__wrapper">
    <div class="smart__burgermenu">
      <div class="smart__burgerline1"></div>
      <div class="smart__burgerline2"></div>
      <div class="smart__burgerline3"></div>
    </div>
    <div class="smart__menu">
      <div class="smart__logoblock">
        <a href="/"><img src="/pict/logo.png" alt="logo"></a>
        <span>Bitmin</span>
      </div>
      <div class="smart__menublock">
        <ul class="smart__list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">RoadMap</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="smart__regblock">
        <button class="smart__btnlogin">Log In</button>
        <button class="smart__btnregistr"><i class="fa fa-user-circle" aria-hidden="true"></i>Register</button>
      </div>     
    </div>
    
    <div class="smart__textdescblock">
      <span>Smart cryptocurrency</span>
      <span>for gaming &amp; stock trading</span>
    </div>

    <div class="smart__watch">
      <span>WHY CHOOSE BITMIN?</span>      
      <button></button>
      <div class="smart__wnow">
        <span>WATCH NOW !!!</span>
      </div>      
    </div>

    <div class="smart__phone">
      <div class="smart__tel">
        <img src="/pict/tel.png" alt="telephone">
      </div>
      <div class="smart__bitcoin">
        <img src="/pict/bitcoin.png" alt="bitcoin">
      </div>
      <div class="smart__ethereum">
        <img src="/pict/ethereum.png" alt="ethereum">
      </div>
      
    </div>
  
  </div>  
</section>
{{!-- SECTION SMART END --}}

{{!-- ----------------- --}}

{{!-- SECTION CCP START --}}


{{!-- 
<section class="ccp">
  <div class="ccp__wrapper">
    
    <div class="ccp__hdrtext">
      <h2>Cryptocurrency Price Capitalizations</h2>
    </div>    
    <div class="ccp__textdescr">
      <span>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus, ac facilisis in, egestas eget quam praesent commodo cursus magna.</span>
    </div>    
    
    <div class="ccp__cardsblock">
      
      <div class="ccp__cardsbitcoin">
        <div class="ccp__cardsbitcoinlogo">
          <img src="/pict/bitcoinlogo.png" alt="bitcoin">
        </div>
        <div class="ccp__cardsbitcoininfo">
          <div class="ccp__cardsbitcoinprice">
            <span>Bitcoin</span>
            <span><sub>$</sub> 11,354.00</span>
          </div>
          <div class="ccp__cardsbitcoingain">
            <span>BTC/USD</span>
            <span>-1.04%</span>
          </div>
          <div class="ccp__cardsbitcoingrapf">

          </div>
          <div class="ccp__cardsbitcointimestapm">
            <button>Hour</button>
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>            
          </div>
        </div>
        <div class="ccp__cardsbitcoinfooter">
          <div class="ccp__cardsbitcoinvolume">
            <span>24h Volume</span>
            <span>$ 7.02B</span>
          </div>
        </div>
      </div>


      <div class="ccp__cardsethereum">
        <div class="ccp__cardsethereumlogo">
          <img src="/pict/etheriumlogo.png" alt="ethereum">
        </div>
        <div class="ccp__cardsethereuminfo">
          <div class="ccp__cardsethereumprice">
            <span>Ethereum</span>
            <span><sub>$</sub> 928.99</span>
          </div>
          <div class="ccp__cardsethereumgain">
            <span>ETH/USD</span>
            <span>+0.98%</span>
          </div>
          <div class="ccp__cardsethereumgrapf">

          </div>
          <div class="ccp__cardsethereumtimestapm">
            <button>Hour</button>
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>            
          </div>
        </div>
        <div class="ccp__cardsethereumfooter">
          <div class="ccp__cardsethereumvolume">
            <span>24h Volume</span>
            <span>$ 11.12B</span>
          </div>
        </div>
      </div>


      <div class="ccp__cardsripple">
        <div class="ccp__cardsripplelogo">
          <img src="/pict/ripplelogo.png" alt="ripple">
        </div>
        <div class="ccp__cardsrippleinfo">
          <div class="ccp__cardsrippleprice">
            <span>Ripple</span>
            <span><sub>$</sub> 1.37</span>
          </div>
          <div class="ccp__cardsripplegain">
            <span>XRP/USD</span>
            <span>+18.37%</span>
          </div>
          <div class="ccp__cardsripplegrapf">

          </div>
          <div class="ccp__cardsrippletimestapm">
            <button>Hour</button>
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>            
          </div>
        </div>
        <div class="ccp__cardsripplefooter">
          <div class="ccp__cardsripplevolume">
            <span>24h Volume</span>
            <span>$ 981.19M</span>
          </div>
        </div>
      </div>

      <div class="ccp__cardscardano">
        <div class="ccp__cardscardanologo">
          <img src="/pict/cardanologo.png" alt="cardano">
        </div>
        <div class="ccp__cardscardanoinfo">
          <div class="ccp__cardscardanoprice">
            <span>Cardano</span>
            <span><sub>$</sub> 0.985964</span>
          </div>
          <div class="ccp__cardscardanogain">
            <span>ADA/USD</span>
            <span>+9.38%</span>
          </div>
          <div class="ccp__cardscardanograpf">

          </div>
          <div class="ccp__cardscardanotimestapm">
            <button>Hour</button>
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>            
          </div>
        </div>
        <div class="ccp__cardscardanofooter">
          <div class="ccp__cardscardanovolume">
            <span>24h Volume</span>
            <span>$ 8.91B</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
 --}}

{{!-- SECTION CCP END --}}