@font-face {
  font-family: 'Sulphur Point', sans-serif;
  src: url('../../public/fonts/SulphurPoint-Bold.ttf');
}
.mixincards {
  border-radius: 5px;
  height: 350px;
  width: 270px;
  margin: 50px 14px 0 14px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .mixincards {
    margin: 20px 14px 10px 14px;
    padding: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .mixincards {
    padding: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .mixincards {
    padding: 0;
    transition: ease-in-out 0.5s;
  }
}
.mixincardslogos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-color: #292a3c;
}
.mixincardslogos img {
  position: relative;
  top: 30px;
  height: 70px;
  width: 65px;
}
.mixincardsinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  background-color: #272637;
}
.mixincardsprice {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-top: 40px;
}
.mixincardsprice span {
  color: white;
}
.mixincardsgain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 80%;
}
.mixincardsgain span {
  color: #9a9697;
  font-size: 0.7rem;
}
.mixincardsgain span:nth-child(2) {
  color: #5da261;
  font-weight: bolder;
}
.mixincardsgraph {
  height: 90px;
  width: 80%;
}
.mixincardstimestamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 80%;
  margin-top: 20px;
}
.mixincardstimestamp button {
  background-color: #292a3c;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
}
.mixincardstimestamp button:hover {
  background-color: #3a3a52;
  cursor: pointer;
  height: 80%;
}
.mixincardsfooter {
  display: flex;
  justify-content: center;
  background-color: #292a3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
}
.mixincardsvolume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
.mixincardsvolume span {
  color: #9a9697;
  font-size: 0.8rem;
}
.mixincardsvolume span:nth-child(2) {
  color: white;
}
.mixinburgerline {
  border: 2px solid white;
  align-self: center;
  margin: 4px 0;
  width: 70%;
}
.mixinhdrstext {
  align-self: center;
  font-size: 2.5rem;
  margin-top: 320px;
  color: #272637;
  transition: ease-in-out 0.5s;
}
.mixintextdesc {
  width: 40%;
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #9a9697;
  transition: ease-in-out 0.5s;
}
.mixinpromoannblocks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mixinmoviesblock {
  width: 280px;
  height: 285px;
  margin: 0 10px;
}
.mixinmoviesvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.mixinmoviesvideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.mixinmoviesvideo button i {
  color: white;
  font-size: 1.5rem;
}
.mixindesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.mixindescone {
  display: flex;
  justify-content: space-between;
}
.mixindescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.smart {
  display: flex;
  justify-content: center;
  background-image: url("/pict/bkg1.png");
  background-size: cover;
  background-position: center;
}
.smart__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.smart__arrowup {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 93%;
  bottom: 5%;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  opacity: 0;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__arrowup {
    width: 70px;
    height: 70px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__arrowup {
    left: 89%;
  }
}
@media screen and (max-width: 720px) {
  .smart__arrowup {
    left: 85%;
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 540px) {
  .smart__arrowup {
    left: 82%;
  }
}
@media screen and (max-width: 480px) {
  .smart__arrowup {
    left: 80%;
  }
}
.smart__arrowup button {
  border-radius: 50%;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__arrowup button {
    width: 40px;
    height: 40px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__arrowup button {
    width: 30px;
    height: 30px;
  }
}
.smart__arrowup button i {
  font-size: 2rem;
  color: #6f54f1;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__arrowup button i {
    font-size: 1.7rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__arrowup button i {
    font-size: 1.4rem;
  }
}
.smart__arrowup span {
  color: #6f54f1;
  font-size: 0.85rem;
  font-weight: bolder;
  cursor: pointer;
}
@media screen and (max-width: 1140px) {
  .smart__arrowup span {
    font-size: 0.75rem;
  }
}
.smart__burgermenu {
  border: 2px solid white;
  display: none;
  position: fixed;
  top: 30px;
  left: 20px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .smart__burgermenu {
    display: flex;
  }
}
.smart__burgerline1 {
  border: 2px solid white;
  align-self: center;
  margin: 4px 0;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}
.smart__burgerline2 {
  border: 2px solid white;
  align-self: center;
  margin: 4px 0;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}
.smart__burgerline3 {
  border: 2px solid white;
  align-self: center;
  margin: 4px 0;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}
.smart__burgerlineonerotate {
  transform: rotate(45deg);
  position: relative;
  top: 6px;
  transition: ease-in-out 0.5s;
}
.smart__burgerlinetworotate {
  display: none;
  transition: ease-in-out 0.5s;
}
.smart__burgerlinethreerotate {
  transform: rotate(-45deg);
  position: relative;
  top: -6px;
  transition: ease-in-out 0.5s;
}
.smart__menu {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  margin-top: 30px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 720px) {
  .smart__menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 480px) {
  .smart__menu {
    height: 170px;
    transition: ease-in-out 0.5s;
  }
}
.smart__logoblock {
  display: flex;
  width: 20%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__logoblock {
    width: 17%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__logoblock {
    width: 20%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__logoblock {
    width: 15%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__logoblock {
    justify-content: center;
    height: 50px;
    width: 250px;
  }
}
.smart__logoblock a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-left: 30px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__logoblock a {
    margin-left: 0px;
    transition: ease-in-out 0.5s;
  }
}
.smart__logoblock a img {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 720px) {
  .smart__logoblock a img {
    width: 50px;
    height: 50px;
  }
}
.smart__logoblock span {
  font-weight: bolder;
  font-size: 2rem;
  align-self: center;
  color: white;
  font-family: 'Sulphur Point', sans-serif;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__logoblock span {
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__logoblock span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 720px) {
  .smart__logoblock span {
    font-size: 2rem;
  }
}
.smart__menublock {
  width: 60%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__menublock {
    width: 66%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__menublock {
    width: 55%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__menublock {
    width: 65%;
  }
}
@media screen and (max-width: 720px) {
  .smart__menublock {
    width: 100%;
  }
}
.smart__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 720px) {
  .smart__list {
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .smart__list {
    display: none;
  }
}
.smart__list li {
  display: flex;
  margin: 0 25px;
  font-family: 'Sulphur Point', sans-serif;
}
@media screen and (max-width: 1140px) {
  .smart__list li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  .smart__list li {
    justify-content: space-around;
  }
}
.smart__list li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__list li a {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__list li a {
    font-size: 1.5rem;
  }
}
.smart__list li a:hover {
  border-bottom: 2px solid white;
}
.smart__menublockfloat {
  display: none;
  transition: ease-in-out 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 480px) {
  .smart__menublockfloat {
    display: none;
    border-radius: 10px;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 48%;
    z-index: 10;
  }
}
.smart__menublockfloatshow {
  display: flex;
  transition: ease-in-out 0.5s;
}
.smart__listfloat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}
@media screen and (max-width: 720px) {
  .smart__listfloat {
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
}
.smart__listfloat li {
  border-radius: 5px;
  display: flex;
  margin: 0 25px;
  padding: 5px 0;
  font-family: 'Sulphur Point', sans-serif;
  width: 100%;
  background-color: rgba(24, 13, 59, 0.3);
}
@media screen and (max-width: 1140px) {
  .smart__listfloat li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  .smart__listfloat li {
    justify-content: space-around;
  }
}
.smart__listfloat li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__listfloat li a {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__listfloat li a {
    font-size: 1.5rem;
  }
}
.smart__listfloat li a:hover {
  border-bottom: 2px solid #3d2297;
}
.smart__regblock {
  display: flex;
  justify-content: center;
  width: 20%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__regblock {
    width: 25%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__regblock {
    width: 20%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock {
    justify-content: space-around;
    height: 70px;
    width: 270px;
  }
}
.smart__regblock button {
  align-self: center;
  height: 65%;
  color: white;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__regblock button {
    font-size: 0.9rem;
    transition: ease-in-out 0.5s;
  }
}
.smart__regblock button i {
  margin-right: 10px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 960px) {
  .smart__regblock button i {
    margin: 0;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock button i {
    margin-right: 10px;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
.smart__regblock button:nth-child(1) {
  width: 100px;
  background: none;
  border: 2px solid white;
  border-radius: 30px;
  margin-right: 20px;
}
@media screen and (max-width: 960px) {
  .smart__regblock button:nth-child(1) {
    width: 80px;
    margin-right: 10px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock button:nth-child(1) {
    width: 100px;
    font-size: 1rem;
  }
}
.smart__regblock button:nth-child(2) {
  width: 150px;
  border-radius: 30px;
  background-color: #201375;
  border: none;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__regblock button:nth-child(2) {
    margin-right: 20px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__regblock button:nth-child(2) {
    width: 100px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock button:nth-child(2) {
    width: 130px;
    font-size: 1rem;
  }
}
.smart__textdescblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 450px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 960px) {
  .smart__textdescblock {
    justify-content: center;
    height: 350px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__textdescblock {
    height: 250px;
    transition: ease-in-out 0.5s;
  }
}
.smart__textdescblock span {
  align-self: center;
  width: 50%;
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: bolder;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__textdescblock span {
    width: 68%;
    font-size: 3.7rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__textdescblock span {
    width: 75%;
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 960px) {
  .smart__textdescblock span {
    font-size: 3rem;
  }
}
@media screen and (max-width: 720px) {
  .smart__textdescblock span {
    width: 85%;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 540px) {
  .smart__textdescblock span {
    font-size: 2rem;
  }
}
.smart__watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 65px 100px 0 0;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 720px) {
  .smart__watch {
    margin: 0;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 540px) {
  .smart__watch {
    flex-direction: column;
    transition: ease-in-out 0.5s;
  }
}
.smart__watch span {
  color: white;
  font-family: 'Sulphur Point', sans-serif;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 540px) {
  .smart__watch span {
    font-size: 1.3rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 480px) {
  .smart__watch span {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
.smart__watch button {
  background: none;
  background-image: url("/pict/btnplay.png");
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  border: none;
  margin: 0 20px;
  height: 105px;
  width: 105px;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__watch button {
    margin: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__watch button {
    margin: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__watch button {
    height: 80px;
    width: 80px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 540px) {
  .smart__watch button {
    margin: 20px 0;
  }
}
@media screen and (max-width: 540px) {
  .smart__wnow {
    margin-bottom: 50px;
  }
}
.smart__phone {
  display: flex;
  justify-content: center;
}
.smart__tel {
  display: flex;
  justify-content: center;
  margin-bottom: -250px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__tel {
    width: 85%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__tel {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 960px) {
  .smart__tel {
    width: 300%;
  }
}
@media screen and (max-width: 720px) {
  .smart__tel {
    width: 500%;
  }
}
@media screen and (max-width: 540px) {
  .smart__tel {
    display: none;
  }
}
.smart__tel img {
  position: relative;
  bottom: 35px;
  left: 43%;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__tel img {
    height: 90%;
    bottom: 10px;
  }
}
@media screen and (max-width: 1140px) {
}
@media screen and (max-width: 960px) {
  .smart__tel img {
    left: 40%;
    height: 85%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__tel img {
    left: 30%;
    height: 70%;
    transition: ease-in-out 0.5s;
  }
}
.smart__bitcoin {
  position: relative;
  left: -120px;
  height: 220px;
  bottom: -10px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1600px) {
  .smart__bitcoin {
    left: -100px;
    bottom: 10px;
    width: 450px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1400px) {
  .smart__bitcoin {
    height: 180px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__bitcoin {
    height: 150px;
    bottom: -30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__bitcoin {
    height: 120px;
    width: 920px;
    left: -10%;
    bottom: -30px;
  }
}
@media screen and (max-width: 720px) {
  .smart__bitcoin {
    height: 100px;
    width: 200%;
    left: -17%;
    bottom: -5px;
  }
}
@media screen and (max-width: 540px) {
  .smart__bitcoin {
    display: none;
  }
}
.smart__bitcoin img {
  height: 100%;
  transition: ease-in-out 0.5s;
}
.smart__ethereum {
  position: relative;
  left: -500px;
  height: 220px;
  bottom: -180px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1600px) {
  .smart__ethereum {
    left: -450px;
    width: 450px;
    bottom: -130px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1400px) {
  .smart__ethereum {
    height: 180px;
    width: 450px;
  }
}
@media screen and (max-width: 1140px) {
  .smart__ethereum {
    height: 150px;
    left: -400px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__ethereum {
    height: 120px;
    width: 920px;
    left: -35%;
    bottom: -130px;
  }
}
@media screen and (max-width: 720px) {
  .smart__ethereum {
    height: 100px;
    width: 200%;
    left: -37%;
    bottom: -100px;
  }
}
@media screen and (max-width: 540px) {
  .smart__ethereum {
    display: none;
  }
}
.smart__ethereum img {
  height: 100%;
}
.ccp__wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Sulphur Point', sans-serif;
}
.ccp__hdrtext {
  align-self: center;
  font-size: 2.5rem;
  margin-top: 320px;
  color: #272637;
  transition: ease-in-out 0.5s;
}
.ccp__hdrtext h2 {
  font-weight: bolder;
}
@media screen and (max-width: 1140px) {
  .ccp__hdrtext {
    font-size: 2rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .ccp__hdrtext {
    font-size: 1.7rem;
    margin-top: 250px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 540px) {
  .ccp__hdrtext {
    width: 70%;
    text-align: center;
    margin-top: 0;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 480px) {
  .ccp__hdrtext {
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
  }
}
.ccp__textdescr {
  width: 40%;
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #9a9697;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .ccp__textdescr {
    font-size: 1rem;
    width: 50%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .ccp__textdescr {
    width: 60%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 540px) {
  .ccp__textdescr {
    width: 70%;
    font-size: 0.9rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 480px) {
  .ccp__textdescr {
    width: 90%;
  }
}
.ccp__cardsblock {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1140px) {
  .ccp__cardsblock {
    flex-wrap: wrap;
  }
}
.ccp__cardsbitcoin {
  border-radius: 5px;
  height: 350px;
  width: 270px;
  margin: 50px 14px 0 14px;
  transition: ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1140px) {
  .ccp__cardsbitcoin {
    margin: 20px 14px 10px 14px;
    padding: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .ccp__cardsbitcoin {
    padding: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .ccp__cardsbitcoin {
    padding: 0;
    transition: ease-in-out 0.5s;
  }
}
.ccp__cardsbitcoinlogo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-color: #292a3c;
}
.ccp__cardsbitcoinlogo img {
  position: relative;
  top: 30px;
  height: 70px;
  width: 65px;
}
.ccp__cardsbitcoininfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  background-color: #272637;
}
.ccp__cardsbitcoinprice {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-top: 40px;
}
.ccp__cardsbitcoinprice span {
  color: white;
}
.ccp__cardsbitcoingain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 80%;
}
.ccp__cardsbitcoingain span {
  color: #9a9697;
  font-size: 0.7rem;
}
.ccp__cardsbitcoingain span:nth-child(2) {
  color: #5da261;
  font-weight: bolder;
}
.ccp__cardsbitcoingain span:nth-child(2) {
  color: #b92c34;
}
.ccp__cardsbitcoingrapf {
  height: 90px;
  width: 80%;
}
.ccp__cardsbitcointimestapm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 80%;
  margin-top: 20px;
}
.ccp__cardsbitcointimestapm button {
  background-color: #292a3c;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
}
.ccp__cardsbitcointimestapm button:hover {
  background-color: #3a3a52;
  cursor: pointer;
  height: 80%;
}
.ccp__cardsbitcoinfooter {
  display: flex;
  justify-content: center;
  background-color: #292a3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
}
.ccp__cardsbitcoinvolume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
.ccp__cardsbitcoinvolume span {
  color: #9a9697;
  font-size: 0.8rem;
}
.ccp__cardsbitcoinvolume span:nth-child(2) {
  color: white;
}
.ccp__cardsethereum {
  border-radius: 5px;
  height: 350px;
  width: 270px;
  margin: 50px 14px 0 14px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .ccp__cardsethereum {
    margin: 20px 14px 10px 14px;
    padding: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .ccp__cardsethereum {
    padding: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .ccp__cardsethereum {
    padding: 0;
    transition: ease-in-out 0.5s;
  }
}
.ccp__cardsethereumlogo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-color: #292a3c;
}
.ccp__cardsethereumlogo img {
  position: relative;
  top: 30px;
  height: 70px;
  width: 65px;
}
.ccp__cardsethereuminfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  background-color: #272637;
}
.ccp__cardsethereumprice {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-top: 40px;
}
.ccp__cardsethereumprice span {
  color: white;
}
.ccp__cardsethereumgain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 80%;
}
.ccp__cardsethereumgain span {
  color: #9a9697;
  font-size: 0.7rem;
}
.ccp__cardsethereumgain span:nth-child(2) {
  color: #5da261;
  font-weight: bolder;
}
.ccp__cardsethereumgrapf {
  height: 90px;
  width: 80%;
}
.ccp__cardsethereumtimestapm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 80%;
  margin-top: 20px;
}
.ccp__cardsethereumtimestapm button {
  background-color: #292a3c;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
}
.ccp__cardsethereumtimestapm button:hover {
  background-color: #3a3a52;
  cursor: pointer;
  height: 80%;
}
.ccp__cardsethereumfooter {
  display: flex;
  justify-content: center;
  background-color: #292a3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
}
.ccp__cardsethereumvolume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
.ccp__cardsethereumvolume span {
  color: #9a9697;
  font-size: 0.8rem;
}
.ccp__cardsethereumvolume span:nth-child(2) {
  color: white;
}
.ccp__cardsripple {
  border-radius: 5px;
  height: 350px;
  width: 270px;
  margin: 50px 14px 0 14px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .ccp__cardsripple {
    margin: 20px 14px 10px 14px;
    padding: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .ccp__cardsripple {
    padding: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .ccp__cardsripple {
    padding: 0;
    transition: ease-in-out 0.5s;
  }
}
.ccp__cardsripplelogo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-color: #292a3c;
}
.ccp__cardsripplelogo img {
  position: relative;
  top: 30px;
  height: 70px;
  width: 65px;
}
.ccp__cardsrippleinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  background-color: #272637;
}
.ccp__cardsrippleprice {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-top: 40px;
}
.ccp__cardsrippleprice span {
  color: white;
}
.ccp__cardsripplegain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 80%;
}
.ccp__cardsripplegain span {
  color: #9a9697;
  font-size: 0.7rem;
}
.ccp__cardsripplegain span:nth-child(2) {
  color: #5da261;
  font-weight: bolder;
}
.ccp__cardsripplegrapf {
  height: 90px;
  width: 80%;
}
.ccp__cardsrippletimestapm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 80%;
  margin-top: 20px;
}
.ccp__cardsrippletimestapm button {
  background-color: #292a3c;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
}
.ccp__cardsrippletimestapm button:hover {
  background-color: #3a3a52;
  cursor: pointer;
  height: 80%;
}
.ccp__cardsripplefooter {
  display: flex;
  justify-content: center;
  background-color: #292a3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
}
.ccp__cardsripplevolume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
.ccp__cardsripplevolume span {
  color: #9a9697;
  font-size: 0.8rem;
}
.ccp__cardsripplevolume span:nth-child(2) {
  color: white;
}
.ccp__cardscardano {
  border-radius: 5px;
  height: 350px;
  width: 270px;
  margin: 50px 14px 0 14px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .ccp__cardscardano {
    margin: 20px 14px 10px 14px;
    padding: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .ccp__cardscardano {
    padding: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .ccp__cardscardano {
    padding: 0;
    transition: ease-in-out 0.5s;
  }
}
.ccp__cardscardanologo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-color: #292a3c;
}
.ccp__cardscardanologo img {
  position: relative;
  top: 30px;
  height: 70px;
  width: 65px;
}
.ccp__cardscardanoinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  background-color: #272637;
}
.ccp__cardscardanoprice {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin-top: 40px;
}
.ccp__cardscardanoprice span {
  color: white;
}
.ccp__cardscardanogain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 80%;
}
.ccp__cardscardanogain span {
  color: #9a9697;
  font-size: 0.7rem;
}
.ccp__cardscardanogain span:nth-child(2) {
  color: #5da261;
  font-weight: bolder;
}
.ccp__cardscardanograpf {
  height: 90px;
  width: 80%;
}
.ccp__cardscardanotimestapm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 80%;
  margin-top: 20px;
}
.ccp__cardscardanotimestapm button {
  background-color: #292a3c;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
}
.ccp__cardscardanotimestapm button:hover {
  background-color: #3a3a52;
  cursor: pointer;
  height: 80%;
}
.ccp__cardscardanofooter {
  display: flex;
  justify-content: center;
  background-color: #292a3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
}
.ccp__cardscardanovolume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}
.ccp__cardscardanovolume span {
  color: #9a9697;
  font-size: 0.8rem;
}
.ccp__cardscardanovolume span:nth-child(2) {
  color: white;
}
.ccp__switchslide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 35px 0 65px 0;
}
.ccp__switchslide input {
  margin: 0 3px;
}
.promoann__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #292a3c;
}
.promoann__hdrpromo {
  align-self: center;
  margin-top: 320px;
  color: #272637;
  transition: ease-in-out 0.5s;
  margin-top: 80px;
  color: white;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
@media screen and (max-width: 1140px) {
  .promoann__hdrpromo {
    font-size: 2rem;
  }
}
.promoann__descpromo {
  width: 40%;
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #9a9697;
  transition: ease-in-out 0.5s;
  color: white;
}
@media screen and (max-width: 1400px) {
  .promoann__descpromo {
    width: 55%;
  }
}
@media screen and (max-width: 1140px) {
  .promoann__descpromo {
    font-size: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .promoann__descpromo {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .promoann__descpromo {
    width: 90%;
  }
}
.promoann__movies {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 1600px) {
  .promoann__movies {
    flex-wrap: wrap;
    width: 95%;
  }
}
.promoann__bch {
  width: 280px;
  height: 285px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promoann__bchvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.promoann__bchvideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.promoann__bchvideo button i {
  color: white;
  font-size: 1.5rem;
}
.promoann__bchdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.promoann__bchdescone {
  display: flex;
  justify-content: space-between;
}
.promoann__bchdescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.promoann__bitclave {
  width: 280px;
  height: 285px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promoann__bitclavevideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.promoann__bitclavevideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.promoann__bitclavevideo button i {
  color: white;
  font-size: 1.5rem;
}
.promoann__bitclavedesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.promoann__bitclavedescone {
  display: flex;
  justify-content: space-between;
}
.promoann__bitclavedescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.promoann__annoucement {
  width: 280px;
  height: 285px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promoann__annoucementvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.promoann__annoucementvideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.promoann__annoucementvideo button i {
  color: white;
  font-size: 1.5rem;
}
.promoann__annoucementdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.promoann__annoucementdescone {
  display: flex;
  justify-content: space-between;
}
.promoann__annoucementdescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.promoann__selfkey {
  width: 280px;
  height: 285px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promoann__selfkeyvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.promoann__selfkeyvideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.promoann__selfkeyvideo button i {
  color: white;
  font-size: 1.5rem;
}
.promoann__selfkeydesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.promoann__selfkeydescone {
  display: flex;
  justify-content: space-between;
}
.promoann__selfkeydescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.promoann__canya {
  width: 280px;
  height: 285px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promoann__canyavideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.promoann__canyavideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.promoann__canyavideo button i {
  color: white;
  font-size: 1.5rem;
}
.promoann__canyadesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.promoann__canyadescone {
  display: flex;
  justify-content: space-between;
}
.promoann__canyadescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.promoann__qlink {
  width: 280px;
  height: 285px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.promoann__qlinkvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 95%;
  height: 75%;
  background-color: #555555;
}
.promoann__qlinkvideo button {
  border: 2px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #555555;
  outline: none;
  cursor: pointer;
}
.promoann__qlinkvideo button i {
  color: white;
  font-size: 1.5rem;
}
.promoann__qlinkdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
}
.promoann__qlinkdescone {
  display: flex;
  justify-content: space-between;
}
.promoann__qlinkdescone span:nth-child(2) {
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 7px;
}
.promoann__viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin: 40px 0 70px 0;
}
.promoann__viewall button {
  border: none;
  width: 270px;
  height: 90%;
  border-radius: 30px;
  background-color: #6f54f1;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 720px) {
  .promoann__viewall button {
    width: 200px;
    font-size: 0.8rem;
    transition: ease-in-out 0.5s;
  }
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
