@font-face {
  font-family: 'Sulphur Point', sans-serif;
  src: url('../../public/fonts/SulphurPoint-Bold.ttf');
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.smart {
  display: flex;
  justify-content: center;
  background-image: url("/pict/bkg1.png");
  background-size: cover;
  background-position: center;
}
.smart__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.smart__menu {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  margin-top: 30px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 720px) {
  .smart__menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 480px) {
  .smart__menu {
    height: 170px;
    transition: ease-in-out 0.5s;
  }
}
.smart__logoblock {
  display: flex;
  width: 20%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__logoblock {
    width: 17%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__logoblock {
    width: 20%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__logoblock {
    width: 15%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__logoblock {
    justify-content: center;
    height: 50px;
    width: 250px;
  }
}
.smart__logoblock a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-left: 30px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__logoblock a {
    margin-left: 0px;
    transition: ease-in-out 0.5s;
  }
}
.smart__logoblock a img {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 720px) {
  .smart__logoblock a img {
    width: 50px;
    height: 50px;
  }
}
.smart__logoblock span {
  font-weight: bolder;
  font-size: 2rem;
  align-self: center;
  color: white;
  font-family: 'Sulphur Point', sans-serif;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__logoblock span {
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__logoblock span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 720px) {
  .smart__logoblock span {
    font-size: 2rem;
  }
}
.smart__menublock {
  width: 60%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__menublock {
    width: 66%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__menublock {
    width: 55%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__menublock {
    width: 65%;
  }
}
@media screen and (max-width: 720px) {
  .smart__menublock {
    width: 100%;
  }
}
.smart__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 720px) {
  .smart__list {
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .smart__list {
    display: none;
  }
}
.smart__list li {
  display: flex;
  margin: 0 25px;
  font-family: 'Sulphur Point', sans-serif;
}
@media screen and (max-width: 1140px) {
  .smart__list li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  .smart__list li {
    justify-content: space-around;
  }
}
.smart__list li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__list li a {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__list li a {
    font-size: 1.5rem;
  }
}
.smart__list li a:hover {
  border-bottom: 2px solid white;
}
.smart__regblock {
  display: flex;
  justify-content: center;
  width: 20%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__regblock {
    width: 25%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__regblock {
    width: 20%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock {
    justify-content: space-around;
    height: 70px;
    width: 270px;
  }
}
.smart__regblock button {
  align-self: center;
  height: 65%;
  color: white;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1140px) {
  .smart__regblock button {
    font-size: 0.9rem;
    transition: ease-in-out 0.5s;
  }
}
.smart__regblock button i {
  margin-right: 10px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 960px) {
  .smart__regblock button i {
    margin: 0;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock button i {
    margin-right: 10px;
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
.smart__regblock button:nth-child(1) {
  width: 100px;
  background: none;
  border: 2px solid white;
  border-radius: 30px;
  margin-right: 20px;
}
@media screen and (max-width: 960px) {
  .smart__regblock button:nth-child(1) {
    width: 80px;
    margin-right: 10px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock button:nth-child(1) {
    width: 100px;
    font-size: 1rem;
  }
}
.smart__regblock button:nth-child(2) {
  width: 150px;
  border-radius: 30px;
  background-color: #201375;
  border: none;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__regblock button:nth-child(2) {
    margin-right: 20px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__regblock button:nth-child(2) {
    width: 100px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 720px) {
  .smart__regblock button:nth-child(2) {
    width: 130px;
    font-size: 1rem;
  }
}
.smart__textdescblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 450px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 960px) {
  .smart__textdescblock {
    justify-content: center;
    height: 350px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__textdescblock {
    height: 250px;
    transition: ease-in-out 0.5s;
  }
}
.smart__textdescblock span {
  align-self: center;
  width: 50%;
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: bolder;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__textdescblock span {
    width: 68%;
    font-size: 3.7rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__textdescblock span {
    width: 75%;
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 960px) {
  .smart__textdescblock span {
    font-size: 3rem;
  }
}
@media screen and (max-width: 720px) {
  .smart__textdescblock span {
    width: 85%;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 540px) {
  .smart__textdescblock span {
    font-size: 2rem;
  }
}
.smart__watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 65px 100px 0 0;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 720px) {
  .smart__watch {
    margin: 0;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 540px) {
  .smart__watch {
    flex-direction: column;
    transition: ease-in-out 0.5s;
  }
}
.smart__watch span {
  color: white;
  font-family: 'Sulphur Point', sans-serif;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 540px) {
  .smart__watch span {
    font-size: 1.3rem;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 480px) {
  .smart__watch span {
    font-size: 1rem;
    transition: ease-in-out 0.5s;
  }
}
.smart__watch button {
  background: none;
  background-image: url("/pict/btnplay.png");
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  border: none;
  margin: 0 20px;
  height: 105px;
  width: 105px;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__watch button {
    margin: 0 50px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__watch button {
    margin: 0 30px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__watch button {
    height: 80px;
    width: 80px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 540px) {
  .smart__watch button {
    margin: 20px 0;
  }
}
.smart__phone {
  display: flex;
  justify-content: center;
}
.smart__tel {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: -250px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__tel {
    width: 85%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__tel {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 960px) {
  .smart__tel {
    width: 250%;
  }
}
@media screen and (max-width: 720px) {
  .smart__tel {
    width: 500%;
  }
}
.smart__tel img {
  border: 1px solid red;
  position: relative;
  bottom: 35px;
  left: 43%;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1400px) {
  .smart__tel img {
    height: 90%;
    bottom: 10px;
  }
}
@media screen and (max-width: 1140px) {
  .smart__tel img {
    width: 150%;
  }
}
@media screen and (max-width: 960px) {
  .smart__tel img {
    left: 45%;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 720px) {
  .smart__tel img {
    left: 30%;
    transition: ease-in-out 0.5s;
  }
}
.smart__bitcoin {
  position: relative;
  left: -120px;
  height: 220px;
  bottom: -10px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1600px) {
  .smart__bitcoin {
    left: -100px;
    bottom: 10px;
    width: 450px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1400px) {
  .smart__bitcoin {
    height: 200px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1140px) {
  .smart__bitcoin {
    height: 180px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__bitcoin {
    height: 150px;
    width: 920px;
    left: -5%;
    bottom: 1px;
  }
}
@media screen and (max-width: 720px) {
  .smart__bitcoin {
    height: 150px;
    width: 200%;
    left: -17%;
    bottom: -5px;
  }
}
.smart__bitcoin img {
  height: 100%;
  transition: ease-in-out 0.5s;
}
.smart__ethereum {
  position: relative;
  left: -500px;
  height: 220px;
  bottom: -180px;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1600px) {
  .smart__ethereum {
    left: -450px;
    width: 450px;
    bottom: -130px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 1400px) {
  .smart__ethereum {
    height: 220px;
  }
}
@media screen and (max-width: 1140px) {
  .smart__ethereum {
    height: 180px;
    left: -400px;
    transition: ease-in-out 0.5s;
  }
}
@media screen and (max-width: 960px) {
  .smart__ethereum {
    height: 150px;
    width: 920px;
    left: -30%;
    bottom: -130px;
  }
}
@media screen and (max-width: 720px) {
  .smart__ethereum {
    height: 100px;
    width: 120%;
    left: -300px;
    bottom: -70px;
  }
}
.smart__ethereum img {
  height: 100%;
}
