@import "smart-grid.less";
@import "var.less";

.reset();

.smart {    
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("/pict/bkg1.png");  
  background-size: cover;
  background-position: center;  
  &__wrapper {

  }
}